/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-color: #afddef; */
    /* background-color: #2ecc71; */
    /* background-color: #f0f0f0; */
    background-color: #2c3e50;
  /* color: #fff; */

  }
  
  
  
  /* Section Heading Styles */
  h1 {
    font-size: 44px;
    text-align: center;
    font-family: cursive;
    margin-top: 10px;
    color: #333;
  }
  
  /* Chart Container Styles */
  .container {
    width: 700px;
    height:500px;
    background-color: rgb(217, 240, 247);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding:20px;
    border-radius: 5px;
    margin-left: 5%;
    z-index:1;
  }

  .container p{
    text-align: center;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }  
  
  /* Canvas Styles */
  
  /* Add some padding to each container */
  .container:not(:first-child) {
    margin-top: 40px;
  }

  .same-line:not(:first-child) {
    margin-top: 40px;
  }

  .same-line{
    display: flex;
  }
  
  .circle {
    margin-left:60%;
    margin-top:-2%;
    z-index:2;
    width: 300px; /* Set the width and height for the circular frame */
    height: 300px;
    border-radius: 50%; /* Makes the element circular */
    overflow: hidden; /* Clips the image to the circular shape */
    position: absolute;
  }

  .circle2 {
    margin-left:88%;
    margin-top:23%;
    z-index:2;
    width: 300px; /* Set the width and height for the circular frame */
    height: 300px;
    border-radius: 50%; /* Makes the element circular */
    overflow: hidden; /*Clips the image to the circular shape*/
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .circle2 img {
    width: 100%; /* Ensures the image fills the circular frame */
    height: 100%;
    object-fit: cover; /* Adjusts the image's size while maintaining its aspect ratio */
  }

  .circle3 {
    margin-left:71%;
    margin-top:-2%;
    z-index:2;
    width: 300px; /* Set the width and height for the circular frame */
    height: 300px;
    border-radius: 50%; /* Makes the element circular */
    overflow: hidden; /*Clips the image to the circular shape*/
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .circle3 img {
    width: 100%; /* Ensures the image fills the circular frame */
    height: 100%;
    object-fit: cover; /* Adjusts the image's size while maintaining its aspect ratio */
  }


  
  .circle img {
    width: 100%; /* Ensures the image fills the circular frame */
    height: 100%;
    object-fit: cover; /* Adjusts the image's size while maintaining its aspect ratio */
  }

  .container #scrollButton {
    position: relative;
    left: 500px;
    /* bottom: 50px;
    right: 20px; */
    padding: 10px 20px;
    background-color: lightseagreen;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    /* z-index: 999; Ensure it's above other content */
  }
  
  /* Hover effect */
  .container #scrollButton:hover {
    background-color: #2554a8;
  }

  .wrapper{
    display: flex;
    padding-top:180px;
    padding-bottom: 20px;
  }

  .wrapper .indoor-container{  
    width: 400px;
    height:900px;
    background-color: whitesmoke;
    /* background-color: rgb(195, 235, 195); */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    margin-left: 5%;
    z-index:1;
    
    flex: 1;
    margin: 0 100px;
  }
  .wrapper .outdoor-container{  
    width: 400px;
    height:900px;
    background-color: whitesmoke;
    /* background-color: rgb(195, 235, 195); */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    margin-left: 5%;
    z-index:1; 
    
    flex: 1;
    margin: 0 100px;
  }

  .indoor-container img{
    padding:10px;
    height:60px;
    width:60px;
  }

  .outdoor-container img{
    padding:10px;
    height:60px;
    width:60px;
  }
  .location{
    display: flex;
  }

  .location p{
    font-size:25px
  }

  .date-time{
    display:flex;    
  }

  .date-time img{
    height:30px;
    width:30px;
    margin-left: 3%;
    padding-right: 25px;
  }

  .aqi{
    text-align: center;
  }

  .aqi img{
    height:100px;
    width:100px;
    padding-bottom: 0px;
  }

  .aqi p{
    padding-top: 0px;
  }

  .sensor-readings p{
    margin-left:5%;
    color: darkslategray;
    font-weight: bold;
  }

  /* CSS for the button within the .redirect class */
.redirect {
  text-align: center;
  margin-top: 20px; /* Adjust margin as needed */
}

#see-details1 {
  padding: 10px 20px;
  background-color: #3366cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#see-details1:hover {
  background-color: #2554a8;
}

#see-details {
  padding: 10px 20px;
  background-color: #3366cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#see-details:hover {
  background-color: #2554a8;
}


#dateRangeDropdownPM {
  font-size: 10px;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 40%;
  background-color: darkgreen;
  color: white;
}

/* Style for the options in the dropdown */
#dateRangeDropdownPM option {
  font-size: 10px;
  padding: 3px;
}

#dateRangeDropdownPMOut {
  font-size: 10px;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 40%;
  background-color: darkgreen;
  color: white;

}

/* Style for the options in the dropdown */
#dateRangeDropdownPMOut option {
  font-size: 10px;
  padding: 3px;
}