/* Header Styles */
header {
    background-color: white;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    width: 200px; /* Set the width of the logo image */
  }
  
  ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end; /* Align the text to the right */
  }
  
  li {
    margin: 0;
  }
  
  a {
    font-weight: bold;
    font-size:20px;
    text-decoration: none;
    color: #333; /* Define text color for links */
  }